.homepage
  .container
    .hero-unit
      %h1.ac
        Lookup, any number
      %p.ac
        Enter any number to get its details and community comments
      #home-search.ac.faq
        %input{type: 'text', placeholder:'Search...'}
        .btn.btn-success.search_button
          Search
    .row
      .span8
        %h1.lead
          %b='Talk To Us!'
          Is there something you'd like to see here? Suggestions you'd like to make? Interested in something else?
          Just get in touch with us at contact@numbernote.com
      .span4
        %h3.ac
          Free
          %small=' while in beta'
        %p.ac
          %a.btn.btn-large.btn-primary{title: true, href: link_to_facebook_signin}
