.hero-unit.ac
  %h1='Terms of Use'
  These Terms of Use agreement are legally binding between you and NumberNote.com and governs your use of the NumberNote.com website (the “Website”). By using the Website, you agree to these Terms of Use. If you do not wish to be bound by these Terms of Use, you may discontinue using the Website.

%h3='Changes to Terms'
NumberNote.com may change these Terms of Use at any time. You can review the most recent Terms of Use by clicking the “Terms” hyperlink on the Website. You are bound by the new Terms of Use if you continue to use the Website.

%h3='Copyright and Trademarks'
The Website, and any information and materials contained therein, including but not limited to graphics and editorial content (“Content”), are owned by NumberNote.com and/or its licensors, and are protected by copyright, trademark, patent, trade secret, and/or other laws. NumberNote.com and/or its licensors own and retain all rights, including the worldwide copyright, in the Content solely and exclusively, for the duration of the rights in each country, in all languages, and throughout the universe. You agree that you shall not use the Content in any way whatsoever except as in compliance with the terms of these Terms of Use. You agree not to modify, rent, lease, loan, sell, distribute, redistribute, or create derivatives works based on the Content, and you shall not exploit the Content in any unauthorized way whatsoever, including but not limited to by trespass or burdening network capacity. You agree not to alter or delete any proprietary notices from Content downloaded or printed from the Websites.

All brand and product names are trademarks or registered trademarks of their respective companies. You are prohibited from using any of the marks or logos appearing throughout the Website without express permission from the trademark owner, except as permitted by applicable law.

%h3='Use of Software'
NumberNote.com makes third-party software available for you to use. Your use of such software will be subject to the terms of the license agreement and privacy policy that accompanies it. Such software is protected by copyright and other intellectual property laws and treaties and is owned by our vendors or licensors.

%h3='Warranties'
THE WEBSITE IS PROVIDED “AS IS” WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT POSSIBLE UNDER APPLICABLE LAWS, NumberNote.com DISCLAIMS ALL WARRANTIES, EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR OTHER VIOLATION OF RIGHTS. NumberNote.com DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE, VALIDITY, ACCURACY, OR RELIABILITY OF, OR THE RESULTS OF THE USE OF, OR OTHERWISE RESPECTING, THE WEBSITE. YOUR USE OF THE WEBSITE IS SOLELY AT YOUR OWN RISK.

%h3='Limitation of Liability'
Your exclusive remedy with respect to any dispute with NumberNote.com is to discontinue your use of the Website. NumberNote.com and its vendors and licensors shall not be liable for any indirect, special, incidental, consequential, or exemplary damage arising from your use of the Website or for any other claim related in any way to your use of the Website. These exclusions for indirect, special, incidental, consequential, or exemplary damages include, without limitation, damages for lost profits, lost data, loss of goodwill, work stoppage, computer failure or malfunction, or any other commercial damages or losses, even if NumberNote.com had been advised of the possibility thereof and regardless of the legal or equitable theory upon which the claim is based. Because some states or jurisdictions do not allow the exclusion or the limitation of liability for consequential or incidental damages, in such states or jurisdictions, NumberNote.com, and its vendors’ or licensors’ liability shall be limited to the extent permitted by law.

%h3='Indemnification'
By using the Website, you agree to indemnify and hold NumberNote.com, its directors, officers, employees, affiliates, agents, contractors, licensors, and subsidiaries harmless from any loss, liability, claim, or demand, including reasonable attorneys’ fees, made by any third party due to or arising out of (i) your use of the Website (ii) your use of the Website for unlawful or unauthorized purposes, and/or (iii) your breach of these Terms of Use or your violation of any law or the rights of a third party.

%h3='Additional Legal Terms'
These Terms of Use, your rights and obligations, and all actions contemplated by these Terms of Use will be governed by the laws of the United States of America and the State of California. These Terms of Use will not be governed by the United Nations Convention on Contracts for the International Sale of Goods. If any provision in these Terms of Use is invalid or unenforceable under applicable law, the remaining provisions will continue in full force and effect, and the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision. These Terms of Use are the entire and final agreement regarding the Website and the Content, and supersede any prior or contemporaneous communications between NumberNote.com and you regarding the Website and the Content.

%h3='Privacy Policy'
Please visit our Privacy Policy, which also governs your use of the Website, to understand how we collect and use information about you.% 
