%footer
  .container
    .row
      .span4
        %h3='NumberNote'
        %ul
          %li
            %a{href: '#', title: true}='one'
          %li
            %a{href: '#', title: true}='one'
          %li
            %a{href: '#', title: true}='one'
          %li
            %a{href: '#', title: true}='one'
          %li
            %a{href: '#', title: true}='one'
          %li
            %a{href: '#', title: true}='one'
      .span4
        %h3='Cool Stuff is Here'
        %p='this is some sweet text...'
      .span4
        %h3='Final Words'
        %p='okay good bye...'
  #footer-extra
    .container
      .row
        .span4
          Copyright © #{Time.now.year} NumberNote. All Rights Reserved.
        .span2.pull-right
          A #{link_to 'Kionin', 'http://kionin.com'} property.
